<h1>Add a grocery item</h1>

<form action="/groceries" method="post">
  <label for="name">Grocery Item name:
    <input type="text" id="name" name="name">
  </label>
  <input type="submit" value="Add item">
</form>
<br>
<a href="/groceries">Groceries Index Page</a>